<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewa Anna Morawska</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <nav class="nav-bar">
        <a href="/home"> Back to Homepage</a>
    </nav>
    <div class="homepage-title">
    <h1>Ewa Anna Morawska</h1>  
    </div>
    <p class="nav-bar">"Color is a force that directly affects the soul" Wassily Kandinsky </p>
    
    <p>Painting for me is a constant journey towards the new in search of emotion and positive emotions. It is a passion and constant fun and pleasure to do it for myself.
        I enjoy the process of creation and what I feel when I see the end result. I prefer to use oil paints in the technique of painting with cold wax, but I also use acrylic paints creating on canvas paper and board. The exhibition will feature more than 30 abstract works by the artist, who is close to expressionism and contact with nature. Her work is an expression of the pursuit of harmony and beauty, and capturing these moments in the surrounding reality on a painting canvas. The artist responds to the inner need of the spirit with her paintings.
        Playing with contrasts and light, she emphasizes the power of colors and the beauty of the world around us. From the composition of beautiful, often contrasting colors emerges a glow, the eponymous shine. In this shine seems to hide positive energy and the hope we all need so much now. Ewa Morawska The artist has been painting since 1988, and began her artistic activity at the age of 28.
        In the early years of her work, she was inspired by the works of the Impressionists and Expressionists. Experimentation and artistic exploration led the artist to develop her own style in painting. Ewa Morawska's works can be found in private collections in Poland, Norway, France, Great Britain and Australia.
        
    </p>
    <img class="about-img" src="/images/img1.jpg" />

   <!-- <a href="/home"> To to the Homepage</a> -->
</body>
    </html>
    
</body>
</html>