<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css"/> 
</head>
<body>
    <div class="pics">
    <img src="/images/c.jpg" />
    <img src="/images/d.jpg" />
    <img src="/images/image2.jpg" />
    <img src="/images/gal.jpg" />
</div>
    <a class="nav-bar" href="/home"> Back to the Homepage</a>
    <div class="homepage-title">
        <h1 class="art"> Art by Ewa</h1>  
        </div>
</body>
</html>