<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ewa Anna Morawska</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav class="nav-bar">
        <ul>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/about">Learn more about my mum </a></li>
        </ul>
      </nav>
   <div class="home-intro">
 <h1> The Artists's Atelier </h1>
</div>

    <p>
      For this project we were asked to create a website that speaks about a
      artist, musician or famous person. There are many talented people in the world but for this project I wanted to take the portunity to share about my mum. She has been painting since I can remember. One of my earliest memories I have is seeing her painting while amonghts the sand dunes on a beach in Stavanger, Norway...
    </p>

    <p>
     <!-- In order to complete this project asked to use express to create the app
      as well as build the routing logic with the built-in app routing methods,
      and lastly serve static content for every request -->
    </p>
    <p>This website is dedicated to her and her passion for art. Welcome and enjoy</p>
<div class="the-about">
    <a href="/about"></a>
</div>
    <div class="home-img">
        <img src="/images/plakat.jpeg" />
    </div>
  </body>
</html>
